<div class="homePage">
  <div class="header">
    <h1>Olympic Games App</h1>
    <img src="assets/olympic.png" alt="olympic" />
  </div>
  <hr />
  <div class="title">
    <h2>Medals per Country</h2>
  </div>
  <div class="stats">
    <div class="statBlock">
      <h3>Number of JOs :</h3>
      <p>
        {{ numberOfParticipationsAndCountries.distinctParticipations }}
      </p>
    </div>
    <div class="statBlock">
      <h3>Number of countries :</h3>
      <p>
        {{ numberOfParticipationsAndCountries.distinctCountries }}
      </p>
    </div>
  </div>
  <ngx-charts-pie-chart
    [results]="medalsPerCountry"
    [view]="viewPC"
    [animations]="animationPC"
    [scheme]="colorSchemePC"
    [labels]="labelsPC"
    [doughnut]="doughnut"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div class="dashboard__graph_label">
        <p>{{ model.name }}</p>
        <p>🏅 {{ model.value }}</p>
      </div>
    </ng-template>
    <!-- <ng-template #tooltipTemplate let-model="model">
      <div class="custom-tooltip">
        <p><i class="fas fa-medal"></i></p>
      </div>
    </ng-template> -->
  </ngx-charts-pie-chart>
</div>
