<div
  class="homePage"
  [ngClass]="{
    'small-screen': isSmallScreen,
    'medium-screen': isMediumScreen,
    'large-screen': isLargeScreen
  }"
  *ngIf="isDataAvailable"
>
  <div class="title">
    <h2>Medals per Country</h2>
  </div>
  <div
    class="stats"
    *ngIf="
      numberOfParticipationsAndCountries$
        | async as numberOfParticipationsAndCountries
    "
  >
    <div class="statBlock">
      <h3>Number of JOs :</h3>
      <p>
        {{ numberOfParticipationsAndCountries.distinctParticipations }}
      </p>
    </div>
    <div class="statBlock">
      <h3>Number of countries :</h3>
      <p>
        {{ numberOfParticipationsAndCountries.distinctCountries }}
      </p>
    </div>
  </div>
  <ngx-charts-pie-chart
    *ngIf="medalsPerCountry$ | async as medalsPerCountry"
    [results]="medalsPerCountry"
    [animations]="animationPC"
    [scheme]="colorSchemePC"
    [labels]="labelsPC"
    [doughnut]="doughnut"
    [view]="viewPC"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div class="dashboard__graph_label">
        <p>{{ model.name }}</p>
        <p>🏅 {{ model.value }}</p>
      </div>
    </ng-template>
  </ngx-charts-pie-chart>
</div>
<div class="homePage" *ngIf="!isDataAvailable">
  <p>Please check your internet connexion</p>
</div>
